{% extends "expert_system/base.html" %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'expert_system/css/bootstrap.css' %}">
    <script src="{% static 'expert_system/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'expert_system/js/d3.v3.min.js' %}"></script>
    <script src="{% static 'expert_system/js/bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'expert_system/css/expert_system.css' %}">
    <style>
        .container {
            color: #f8f8f8;
        }

        .left-fact-form {
            padding-bottom: 25px;
        }

        .right-fact-form {
            padding-bottom: 20px;
        }
    </style>
{% endblock %}

{% block main %}
    <div class="content-w3ls">
        <div class="container">
            <h3 class="text-danger">Add new rule</h3>
            <form class="form-horizontal" method="post" action="{% url 'add_rule' %}">
                {% csrf_token %}
                <div class="left-fact-group">
                    <div id="left-fact-form-1" class="left-fact-form">
                        <div class="form-group">
                            <label class="control-label col-md-2" for="left-fact-1">Left fact 1:</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="left-fact-1" id="left-fact-1"
                                       placeholder="Enter left fact">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2" for="left-fact-1-type">Fact type:</label>
                            <div class="col-md-6">
                                <select class="form-control " id="left-fact-1-type" name="left-fact-1-type">
                                    <option value="1">Start fact</option>
                                    <option value="2">Middle fact</option>
                                    <option value="3">End fact</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div id="left-fact-form-2" class="left-fact-form">
                        <div class="form-group">
                            <label class="control-label col-md-2" for="left-fact-2">Left fact 2:</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="left-fact-2" name="left-fact-2"
                                       placeholder="Enter left fact">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2" for="left-fact-2-type">Fact type:</label>
                            <div class="col-md-6">
                                <select class="form-control " name="left-fact-2-type" id="left-fact-2-type">
                                    <option value="1">Start fact</option>
                                    <option value="2">Middle fact</option>
                                    <option value="3">End fact</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2"></div>
                            <div class="col-md-6">
                                <button type="button" class="btn-primary">Add left fact field</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="right-fact-form">
                    <div class="form-group">
                        <label class="control-label col-md-2" for="right-fact">Right fact:</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" name='right-fact' id="right-fact"
                                   placeholder="Enter left fact">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="right-fact-type">Fact type:</label>
                        <div class="col-md-6">
                            <select class="form-control " id="right-fact-type" name="right-fact-type">
                                <option value="1">Start fact</option>
                                <option value="2">Middle fact</option>
                                <option value="3">End fact</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="cf-field">
                    <div class="form-group">
                        <label class="control-label col-md-2" for="rule-cf">Rule CF:</label>
                        <div class="col-md-6">
                            <input type="number" step="0.01" class="form-control" id="rule-cf" name='rule-cf'
                                   placeholder="Enter rule CF">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script>

    </script>

{% endblock %}
