{% extends "expert_system/base.html" %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'expert_system/css/bootstrap.css' %}">
    <script src="{% static 'expert_system/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'expert_system/js/d3.v3.min.js' %}"></script>
    <script src="{% static 'expert_system/js/bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'expert_system/css/expert_system.css' %}">
    <style>
        .container {
            color: #f8f8f8;
        }
    </style>
{% endblock %}

{% block main %}
        <div class="container">
            <h3 class="alert alert-info">Delete Rule</h3>
            <form class="form-horizontal" method="post" action="{% url 'delete_rule' %}">
                <h4 class="text-danger">Do you really want to delete this rule ?</h4>
                <p style="color: #f8f8f8">{{ rule_mean }}</p>
                {% csrf_token %}
                <input type="hidden" class="form-control" name="rule_id" id="rule_id"
                       value="{{ rule_id }}" readonly>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-danger" id="btn-modal-save-change">Delete
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
{% endblock %}
{% block javascript %}
    <script>

    </script>

{% endblock %}
